{% extends "ScheduleGenerator/base.html" %}
{% load static %}
{% block content %}
<div class="mx-auto" style="width: 18rem;">
    <img src="{%static 'ScheduleGenerator/wip.png' %}" class="card-img-top" alt="..." mx-auto>
    <div class="card-body">
        <h5 class="card-title">Work in progress</h5>
        <p class="card-text">This project is being done by Victor Nieves.</p>
        <a href="https://twitter.com/VictorNS69" class="btn btn-primary">Go to my Twitter account</a>
    </div>
</div>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">About</h1>
        <p class="lead">This website is being done by a student of the ETSIINF, the idea is to have easy access to many
            of the services provided by our university and school.</p>
        <p class="lead">We are also working on a schedule generator, to make it easier to register!</p>
        <p class="lead">If you want to send me an email, send it to
            <a href="mailto:victor.nieves.sanchez@alumnos.upm.es">victor.nieves.sanchez@alumnos.upm.es</a></p>
    </div>
</div>
{% endblock%}
