{% extends "ScheduleGenerator/base.html" %}


{% block content %}
<form action="#" method="POST" style="margin:0 auto;width:75%;text-align:left">
<h1>Choose the course <span class="badge badge-secondary"></span></h1>
    {% csrf_token %}
<input class="btn btn-primary" type="submit" value="1º" name="1º">
    <input class="btn btn-primary" type="submit" value="2º" name="2º">
    <input class="btn btn-primary" type="submit" value="3º" name="3º">
    <input class="btn btn-primary" type="submit" value="4º" name="4º">
    <input class="btn btn-primary" type="submit" value="Optional" name="Optional">
</form>
{% endblock%}