{% extends "ScheduleGenerator/base.html" %}


{% block content %}
<form action="" method="POST" style="margin:0 auto;width:50%;text-align:left">
    {% for i in context %}
    <select class="form-control">
        <option>None</option>
        {% for s in context %}
        <option> {{s.name}}</option>
        {% endfor %}
    </select>
    {% empty %}
    <h1>No subjects found <span class="badge badge-secondary"></span></h1>
    {% endfor %}
    <div style="text-align:center">
        {% csrf_token %}
        <input class="btn btn-primary" type="submit" value="Continue" name="Continue">
    </div>
</form>
{% endblock %}